.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: auto;
  border: none;
  padding: 10px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  cursor: text;
}

.search-btn {
  background: lightcoral;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.CardHolder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
}

.Card {
  height: 300px;
  width: 200px;
  margin: 10px 20px;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: black;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Header {
  color: white;
}

.city-icon{
  margin-top: 10px;
  margin-left: 50px;
  width: 100px;
  height: 100px;
}